<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Story 8</title>
</head>
<body>
<div style="min-height: 100vh" id="mainc">
<center>
    <br><br><br>
    <h1>Welcome</h1>
    <br><br>
</center>

<div class="accordion" id="mainAccordion">
    <div class="card" id="card1">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Current Activities
                </button>
                <div class="btn-group">
                    <button class="button" id="up1" onclick="mUp1()">↑</button>
                    <button class="button" id="down1" onclick="mDown1()">↓</button>
                </div>
            </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#mainAccordion">
            <div class="card-body">
                <ul>
                    <li><p>Stay at home</p></li>
                    <li><p>Far-distance classes</p></li>
                    <li><p>Basically nothing else</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" id="card2">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Organizational Experience
                </button>
                <div class="btn-group">
                    <button class="button" id="up2" onclick="mUp2()">↑</button>
                    <button class="button" id="down2" onclick="mDown2()">↓</button>
                </div>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#mainAccordion">
            <div class="card-body">
                <ul>
                    <li><p>Student council (2014-2016)</p></li>
                    <li><p>Student regiment (2014-2016)</p></li>
                    <li><p>Flag football team (2016-2017)</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" id="card3">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Committee Experience
                </button>
                <div class="btn-group">
                    <button class="button" id="up3" onclick="mUp3()">↑</button>
                    <button class="button" id="down3" onclick="mDown3()">↓</button>
                </div>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#mainAccordion">
            <div class="card-body">
                <ul>
                    <li><p><i>Prasetya Alumni</i> SMA TN Organizer (2016)</p></li>
                    <li><p>ITB Olympics - Security division (2017)</p></li>
                    <li><p>UI Olympics - Athletics division (2019)</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" id="card4">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Achievements
                </button>
                <div class="btn-group">
                    <button class="button" id="up4" onclick="mUp4()">↑</button>
                    <button class="button" id="down4" onclick="mDown4()">↓</button>
                </div>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#mainAccordion">
            <div class="card-body">
                <ul>
                    <li><p>Bunch of small things in high school (2013-2016)</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <br><br>
    <center><button class="button" id="theme-change" onclick="changeTheme()">Change Theme</button></center>
</div>

<script type="text/javascript">
      function mUp1() {
        var card = $("#card1");
        card.prev().insertAfter(card)
      }
      function mDown1() {
        var card = $("#card1");
        card.next().insertBefore(card)
      }

      function mUp2() {
        var card = $("#card2");
        card.prev().insertAfter(card)
      }
      function mDown2() {
        var card = $("#card2");
        card.next().insertBefore(card)
      }

      function mUp3() {
        var card = $("#card3");
        card.prev().insertAfter(card)
      }
      function mDown3() {
        var card = $("#card3");
        card.next().insertBefore(card)
      }

      function mUp4() {
        var card = $("#card4");
        card.prev().insertAfter(card)
      }
      function mDown4() {
        var card = $("#card4");
        card.next().insertBefore(card)
      }
      function changeTheme() {
        var mainc = document.getElementById("mainc");
        var c1 = document.getElementById("card1");
        var c2 = document.getElementById("card2");
        var c3 = document.getElementById("card3");
        var c4 = document.getElementById("card4");

        mainc.classList.toggle("bg-dark");
        mainc.classList.toggle("text-light");
        mainc.classList.toggle("text-success");

        c1.classList.toggle("bg-dark");
        c1.classList.toggle("text-light");
        c1.classList.toggle("text-danger");

        c2.classList.toggle("bg-dark");
        c2.classList.toggle("text-light");
        c2.classList.toggle("text-danger");

        c3.classList.toggle("bg-dark");
        c3.classList.toggle("text-light");
        c3.classList.toggle("text-danger");

        c4.classList.toggle("bg-dark");
        c4.classList.toggle("text-light");
        c4.classList.toggle("text-danger");
       }
    </script>
</body>